body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#apresentacao img {
  margin: 20px auto;
  max-height: 250px;
  display: block;
}

#apresentacao {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 200%;
  
}

.form-wrapper {
  margin: 10 0 15px;
  padding-top: 30px;
}

.form-wrapper2 {
  bottom: 0px;
  position: fixed;
  text-align: center;
  }

.form-wrapper2 input {
  padding: 10 20px;
  width: 200px;
}

.form-wrapper2 button:hover {
  background: black;
  color: white;
  opacity: 0,6;
}

.form-wrapper input {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
 
}

.form-wrapper button {
  border: 0;
  color: #ffffff;
  background: #da1e26;
  font-weight: bold;
  padding: 13px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#nomeSerie {
  margin: 20px auto;
  border-radius: 4px;
}

#imgSerie {
  margin: 20px auto;
  border-radius: 4px;
}

.form-wrapper button:hover {
  color: black;
  opacity: 0.8;
}